<!-- <form [formGroup]="formCita" (ngSubmit)="agendarCita()">
  <select formControlName="servicioId">
    <option *ngFor="let servicio of servicios" [value]="servicio.id">{{ servicio.nombre }}</option>
  </select>
  <input type="date" formControlName="fecha">
  <input type="time" formControlName="hora">
  <input type="email" formControlName="email" placeholder="Tu correo">
  <button type="submit">Agendar</button>
</form>
<div *ngIf="mensaje">{{ mensaje }}</div> -->

<div class="agendar-cita-container">
  <h2>Agendar Cita</h2>
  <button class="cosbell-button-secondary mb-3" (click)="goToDashboardClient()">Volver al Dashboard</button>
  <form [formGroup]="formCita" (ngSubmit)="agendarCita()" class="agendar-cita-form">
    <div class="form-group">
      <label for="servicio">Servicio:</label>
      <select id="servicio" formControlName="servicioId" required class="form-control">
        <option value="">Seleccione un servicio...</option>
        <option *ngFor="let servicio of servicios" [value]="servicio.id">{{ servicio.name }}</option>
      </select>
      <div *ngIf="formCita.get('servicioId')?.touched && formCita.get('servicioId')?.invalid" class="alert-cosbell-error">
        Selecciona un servicio.
      </div>
    </div>

    <div class="form-group">
      <label for="fecha">Fecha:</label>
      <input id="fecha" type="date" formControlName="fecha" required class="form-control">
      <div *ngIf="formCita.get('fecha')?.touched && formCita.get('fecha')?.invalid" class="alert-cosbell-error">
        <span *ngIf="formCita.get('fecha')?.errors?.required">Selecciona una fecha.</span>
        <span *ngIf="formCita.get('fecha')?.errors?.dateInPast">La fecha no puede ser pasada.</span>
      </div>
    </div>

    <div class="form-group">
      <label for="hora">Hora:</label>
      <select id="hora" formControlName="hora" required class="form-control">
        <option value="" disabled>Seleccione una hora...</option>
        <option *ngFor="let hora of availableTimes" [value]="hora">{{ hora }}</option>
      </select>
      <div *ngIf="formCita.get('hora')?.touched && formCita.get('hora')?.invalid" class="alert-cosbell-error">
        Selecciona una hora.
      </div>
    </div>

    <div class="form-group">
      <label for="email">Correo:</label>
      <input id="email" type="email" formControlName="email" placeholder="Tu correo" required class="form-control">
      <div *ngIf="formCita.get('email')?.touched && formCita.get('email')?.invalid" class="alert-cosbell-error">
        Ingresa un correo válido.
      </div>
    </div>

    <div class="form-group">
      <label for="phone">Número de Teléfono:</label>
      <input id="phone" type="text" formControlName="phone" placeholder="Tu número de teléfono" required class="form-control">
      <div *ngIf="formCita.get('phone')?.touched && formCita.get('phone')?.invalid" class="alert-cosbell-error">
        Ingresa un número de teléfono válido.
      </div>
    </div>

    <div class="form-group">
      <label for="employee">Profesional:</label>
      <select id="employee" formControlName="employeeId" required class="form-control">
        <option value="">Seleccione un profesional...</option>
        <option *ngFor="let employee of employees" [value]="employee.id">{{ employee.name }}</option>
      </select>
      <div *ngIf="formCita.get('employeeId')?.touched && formCita.get('employeeId')?.invalid" class="alert-cosbell-error">
        Selecciona un profesional.
      </div>
    </div>

    <div class="btn-container">
      <button type="submit" [disabled]="formCita.invalid" class="cosbell-button-form">Agendar</button>
    </div>
  </form>

  <div *ngIf="mensaje" class="alert-cosbell" [ngClass]="{'alert-cosbell-error': mensaje.includes('Error')}" style="margin-top:10px;">{{ mensaje }}</div>
</div>