<div class="mis-citas-container">
  <h2>Mis Citas</h2>

  <div *ngIf="mensaje" class="alert alert-info">{{ mensaje }}</div>

  <button class="cosbell-button-secondary mb-3" (click)="goToDashboardClient()">Volver al Dashboard</button>

  <div *ngIf="citas.length === 0" class="text-center mt-4">
    <p>No tienes citas agendadas.</p>
  </div>

  <div *ngFor="let cita of citas" class="cita-card">
    <div class="cita-details">
      <h3>Servicio: {{ cita.servicio.name }}</h3>
      <p><strong>Fecha:</strong> {{ cita.fecha }}</p>
      <p><strong>Hora:</strong> {{ cita.hora }}</p>
      <p><strong>Estado:</strong> {{ cita.status }}</p>
    </div>
    <div class="cita-actions">
      <button class="cosbell-button-primary" (click)="cancelarCita(cita.id)" [disabled]="cita.status === 'CANCELADA'">Cancelar</button>
      <button class="cosbell-button-secondary" (click)="editarCita(cita.id)" [disabled]="cita.status === 'CANCELADA'">Modificar</button>
    </div>
  </div>
</div>